<div class="card-user" data-author="{{ author.pk }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author.username}} </h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:":3" %}
                <li class="card-user__item">
                    {% include 'recipes/includes/recipe_preview.html' with recipe=recipe %}
                </li>
            {% endfor %}

            {% if author.recipes.count > 3 %}
                <li class="card-user__item">
                    <a href="#" class="card-user__link link">Еще {{ author.recipes.count|add:"-3" }} рецептов...</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>
