{% load user_filters %}
{% if user.is_authenticated and user != author %}
    {% is_follower as is_follower_flag %}
    {% if is_follower_flag %}
        <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></li>
    {% else %}
        <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></li>
    {% endif %}
{% endif %}
