# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.git
.gitignore
.github

.venv
.vscode
.idea

# Docker
**/Dockerfile
docker-compose.yaml

media/*
sent_emails
staticfiles

.env
.env.example

Makefile

.python-version
.tool-versions

infra/nginx.conf
setup.cfg
requests.http
db.sqlite3
requirements.txt

**/.DS_Store
*.md
