{% extends 'base.html' %}
{% block title %}Ошибка на сервере{% endblock %}

{% block header %}{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
        <div class="back button_style_light-blue">
            <a href="{% url 'recipes:index' %}" class="link back__link">Перейти на главную</a>
        </div>
    </div>
{% endblock content %}

{% block javascript %}{% endblock javascript %}
