<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Рецепты{% endblock %} | Foodgram</title>

    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'recipes/css/pages/index.css' %}">{% endblock css %}
</head>

<body class="body">
    <header class="header">{% include 'includes/nav.html' %}</header>

    <main class="main container">
        {% block header %}
            <div class="main__header">
                <h1 class="main__title">{% block header_title %}Рецепты{% endblock header_title %}</h1>

                {% block tags %}
                    {% include 'recipes/includes/tags.html' %}
                {% endblock tags %}
            </div>
        {% endblock header %}

        {% block content %}
        {% endblock content %}
    </main>

    <footer class="footer">{% include 'includes/footer.html' %}</footer>

    {% block base_javascript %}
        <script src="{% static 'recipes/js/config/config.js' %}"></script>
        <script src="{% static 'recipes/js/api/Api.js' %}"></script>
        <script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
        <script src="{% static 'recipes/js/components/MainCards.js' %}"></script>
        <script src="{% static 'recipes/js/components/Header.js' %}"></script>
    {% endblock base_javascript %}

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
