{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Вы действительно хотите удалить рецепт "{{ object }}"?</p>
        <div class="custom-button-block">
            <form method="post">{% csrf_token %}
                <button class="button button_style_blue" type="submit">Да</button>
            </form>
            <div class="back button_style_light-blue" style="margin-left: 1.5em">
                <a href="{% url 'recipes:index' %}" class="link back__link">Перейти на главную</a>
            </div>
        </div>
    </div>
{% endblock %}
